/* Background Logo Hovering */
.background-logo-container {
    position: fixed;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 20vh;
    height: 20vh;
    z-index: -1;
    pointer-events: none;
    opacity: 0.05;
    animation: floatLogo 6s ease-in-out infinite;
}

.background-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes floatLogo {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}